@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #81b29a;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.header__navigation {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 0.5rem;
    background-color: #83c5be;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__navigation a {
    text-align: center;
}

.header__navigation a {
    display: inline-block;
    padding: 8px 0;
  }

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    height: 65vh;
}

.hero__photo {
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 150px;
    background-size: cover;
}

.hero__title {
    margin-top: 10rem;
    margin-left: 15rem;
    margin-right: auto;
}

.hero__title-large {
    color: #f2cc8f;
    font-weight: 700;
    font-size: 100px;
}

.hero__title-small {
    color: #f2cc8f;
    font-weight: 700;
    font-size: 55px;
    margin-left: 30px;
}

.hero__title-small-2 {
    color: #3d405b;
    font-weight: 700;
    font-size: 55px;
    margin-left: 90px;
}

.hero__photo {
    position: absolute;
    right: 0;
    width: 600px;
    height: 280px;
    border-radius: 150px;
    background-size: cover;
}

.hero__photo-me {
    width: 45%;
    border-radius: 20rem;
    padding: .5rem;
    border: .3rem dashed #3d405b;
}

.hero__description {
    clear: both;
    text-align: center;
    color: #f4f1de;
    font-size: 24px;
    line-height: 1.8rem;
    font-weight: 300;
    padding-top: 70px;
    margin-bottom: 1.5rem;
}

.hero__description a {
    text-decoration: underline;
}

.hero__call-to-action {
    clear: both;
    text-align: center;
}

.hero__button {
    display: inline-block;
    vertical-align: middle;
    color: #f4f1de;
    font-size: 22px;
    padding: 15px 60px 15px 60px;
    border-radius: 15px;
    background-color: #e07a5f;
}

.hero__button:hover {
    background-color: #3d405b;
    color: #f4f1de;
}

.hero__alt-button {
    display: inline-block;
    vertical-align: middle;
    color: #f4f1de;
    font-size: 22px;
    padding: 15px 40px 15px 40px;
    border-radius: 15px;
    background-color: #e07a5f;
}

.hero__alt-button:hover {
    background-color: #3d405b;
    color: #f4f1de;
}
