@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #2a9d8f;
  min-height: 100vh;
  position: relative;
  padding: 1.6rem;
}

.navbar {
  position: fixed;
  top: 50%;
  left: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  border-radius: 20rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  background-color: whitesmoke;
  /* opacity: 0.8; */
}

.navbar__link:link,
.navbar__link:active {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #3d405b;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 0 8rem;
  min-height: 100vh;
}

.row-1 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero__title {
  text-align: center;
  line-height: 5rem;
}

.hero__title-large {
  text-align: center;
  color: #f2cc8f;
  font-weight: 700;
  font-size: 100px;
}

.hero__title-small {
  text-align: center;
  color: #f2cc8f;
  font-weight: 700;
  font-size: 55px;
}

.hero__title-small-2 {
  color: #3d405b;
  font-weight: 700;
  font-size: 55px;
}

.hero__photo {
  border-radius: 150px;
  background-size: cover;
  height: auto;
  max-width: 18rem;
}

.hero__photo-me {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.3rem dashed #3d405b;
}

.hero__description {
  clear: both;
  text-align: center;
  color: #f4f1de;
  font-size: 24px;
  line-height: 1.8rem;
  font-weight: 300;
  padding-top: 70px;
  margin-bottom: 1.5rem;
}

.hero__description a {
  text-decoration: underline;
}

.hero__call-to-action {
  clear: both;
  text-align: center;
}

.hero__button {
  display: inline-block;
  vertical-align: middle;
  color: #f4f1de;
  font-size: 22px;
  padding: 15px 60px 15px 60px;
  border-radius: 15px;
  background-color: #e07a5f;
}

.hero__button:hover {
  background-color: #3d405b;
  color: #f4f1de;
}

.hero__alt-button {
  display: inline-block;
  vertical-align: middle;
  color: #f4f1de;
  font-size: 22px;
  padding: 15px 40px 15px 40px;
  border-radius: 15px;
  background-color: #e07a5f;
}

.hero__alt-button:hover {
  background-color: #3d405b;
  color: #f4f1de;
}

@media (min-width: 320px) and (max-width: 480px) {
  .row-1 {
    flex-direction: column;
  }

  .hero__title-large {
    font-size: 80px;
    line-height: 4rem;
  }
  .hero__title-small {
    font-size: 40px;
  }

  .hero__button {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero__button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
